@media (max-width: 960px) {
  .cv {
    padding: 0;
    margin: 0 -0.5rem 0 -0.5rem;
  }
}

@media (min-width: 1280px) {
  .cv {
    padding: 0 5rem 0 5rem;
  }
}

.cv p {
  margin-bottom: 0.5rem;
}

.cv p:last-of-type {
  margin-bottom: 0;
}

.cv ul {
  padding-left: 1rem;
}

.cv li {
  list-style-type: "▸  ";
}
